
<!-- Main content -->
<main id="main-content" role="main">


    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--category">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>





    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{category.name}}</h1>
                {{#if category.description}}
                <p class="govuk-body-l">{{category.description}}</p>
                {{/if}}
                <section>
                    {{#each sections}}
                    <h2 class="govuk-heading-m">{{name}}</h2>
                    {{#is name "Newsletters"}}
                    {{#if articles}}
                    <ul class="govuk-list tl-newsletter--list">
                        {{#each articles}}
                        <li>
                            <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}
                        <li class="govuk-!-margin-top-4">
                            {{#if more_articles}}
                            <a href="{{url}}" class="govuk-link see-all-articles govuk-body tl-category--more">
                                See all newsletters
                            </a>
                            {{/if}}
                            {{#is article_count 5}}
                            <a href="{{url}}" class="govuk-link see-all-articles govuk-body tl-category--more">
                                See all newsletters
                            </a>
                            {{/is}}
                            {{#is article_count 6}}
                            <a href="{{url}}" class="govuk-link see-all-articles govuk-body tl-category--more">
                                See all newsletters
                            </a>
                            {{/is}}
                        </li>
                    </ul>
                    {{else}}
                    <ul class="govuk-list">
                        <li>
                            <p class="govuk-body">There's nothing here at the moment</p>
                        </li>
                    </ul>
                    {{/if}}
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                    {{else}}
                    {{#if articles}}
                    <ul class="govuk-list">
                        {{#each articles}}
                        <li>
                            <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}
                        {{#if more_articles}}
                        <li class="govuk-!-margin-top-4">
                            <a class="govuk-link govuk-body tl-category--more" href="{{url}}">
                                See all events, webinars and information
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                    {{else}}
                    <ul class="govuk-list">
                        <li>
                            <p class="govuk-body">There's nothing here at the moment</p>
                        </li>
                    </ul>
                    {{/if}}
                    {{/is}}


                    {{/each}}
                </section>

            </div>
            <div class="govuk-grid-column-one-third">

                {{#if signed_in}}
                <div class="article-subscribe tl-article--subscribe--signedin tl-js-visible" id="tl-newsletter--subscribe">
                    <button id="follow-btn" type="button" class="tl-hidden">Follow </button>
                    <script type="text/javascript">
                        const section_id_newsletters = {{settings.section_id_newsletters}}
                    </script>
                </div>
                {{else}}
                <div class="article-subscribe tl-article--subscribe">
                    <button data-auth-action="signin" data-selected="false" aria-expanded="false" aria-haspopup="menu" type="button">
                        Sign in to get news updates
                    </button>

                    {{!-- Alternative approach using oauth in javascript --}}
                    <p class="govuk-body-l">or...</p>
                    <form id="subscribe-user-form" method="post">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="subscriber-name">Name</label>
                            <input type="text" id="subscriber-name" name="subscriber-name" placeholder="Type your name">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="subscriber-email">Name</label>
                            <input type="text" id="subscriber-email" name="subscriber-email" placeholder="Type your email">
                        </div>
                        <div class="govuk-!-margin-top-3">
                            <input type="submit" name="commit" value="Subscribe">
                        </div>
                    </form>
                    <script type="text/javascript">
                        $("#subscribe-user-form").submit(function(e){

                            e.preventDefault();
                            
                            const subscription_client_id = "{{settings.tl_subscription_client_id}}";
                            const subscription_client_secret = "{{settings.tl_subscription_client_secret}}";

                            const subscriber_name = $("#subscriber-name").val();
                            const subscriber_email = $("#subscriber-email").val();

                            //const section_id_newsletters = {{settings.section_id_newsletters}}
                            const sectionId = {{settings.section_id_newsletters}}

                            //TODO: Remove ` style from strings so they work in ie11
                            console.log(`subscribe form submitted`);
                            console.log(`subscription_client_id = ${subscription_client_id}`);
                            console.log(`subscription_client_secret = ${subscription_client_secret}`);
                            console.log(`user = ${subscriber_email} (${subscriber_name})`);
                            console.log(`user = ${sectionId} (${sectionId})`);

                            //get auth token

/*
curl https://{subdomain}.zendesk.com/oauth/tokens \
  -H "Content-Type: application/json" \
  -d '{"grant_type": "authorization_code", "code": "{your_code}",
    "client_id": "{your_client_id}", "client_secret": "{your_client_secret}", 
    "redirect_uri": "{your_redirect_url}", "scope": "read" }' \
  -X POST

//limit scope with something like
                scope: "hc:read hc:write users:read users:write"
*/

                            const oauth_request = JSON.stringify({
                                grant_type: "client_credentials",//"authorization_code",
                                client_id: subscription_client_id,
                                client_secret: subscription_client_secret,
                                //code: code,
                                //redirect_uri: "", //what goes here? redirect_uri,
                                scope: "read write"
                            });
                            console.log(oauth_request);

                            $.ajax({
                                type: 'POST',
                                url: "/oauth/tokens",
                                //contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                                contentType: 'application/json',
                                //crossDomain:true,
                                //cache : true, 
                                //dataType: 'json',
                                data: oauth_request
                             })
                            .then(function (tokenResponse) {
                                console.log(`have token response ${tokenResponse}`);

                                //get csrf token (is this needed?)     
                                $.getJSON('/hc/api/internal/csrf_token.json')
                                .then(function (csrfResponse) {

                                    console.log(`preparing to call subscribe with section id ${sectionId}`);
                    
                                    //subscribe                    
                                    //TODO: Will need to get/create the user first and add userId to call
                                    $.ajax({url: '/api/v2/help_center/sections/' + sectionId + '/subscriptions.json',
                                        type: "POST",
                                        data: jQuery.param({
                                            "subscription": {
                                                "source_locale": HelpCenter.user.locale, 
                                                "include_comments": true
                                            }
                                        }),
                                        dataType: "application/json",
                                        headers: {
                                            "X-CSRF-Token":  csrfResponse.current_session.csrf_token
                                            //Authorization: "Bearer oauth_access_token"
                                        },
                                        complete: function(){
                                            console.log('Subscribed to section ' + sectionId);
                                            $('#follow-btn').html(unfollowButtonText);
                                        }
                                    }); //end of ajax call
                                }); //end of then .. csrfResponse
                            }, function (e) { //error response callback for token request
                            console.log(`token error ${e.responseText}`)
                        }); //end of then .. tokenResponse
                        });
                    </script>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</main>
