<!-- Main content -->
<main id="main-content" role="main">


    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--category">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>





    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{category.name}}</h1>
            </div>

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <section class="govuk-!-margin-bottom-8">
                    {{#each sections}}
                    {{#is name "Featured news"}}
                    <h2 class="govuk-heading-l">{{name}}</h2>

                    {{#if articles}}
                    <div class="govuk-grid-row">
                        {{#each articles}}
                        {{#is @index 0}}
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="{{url}}" class="govuk-link">{{title}}</a></h3>
                            <p class="govuk-body-s">{{date created_at class='metadata' format='medium'}}</p>
                            <p class="govuk-body">{{excerpt body characters=90}}</p>
                        </div>
                        {{/is}}
                        {{#is @index 1}}
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="{{url}}" class="govuk-link">{{title}}</a></h3>
                            <p class="govuk-body-s">{{date created_at class='metadata' format='medium'}}</p>
                            <p class="govuk-body">{{excerpt body characters=90}}</p>
                        </div>
                        {{/is}}
                        {{/each}}
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m govuk-!-margin-top-8">Past news stories</h2>


                            <ul class="govuk-list tl-newsletter--list">
                                {{#each articles}}
                                {{#is @index 0}}
                                {{else}}
                                {{#is @index 1}}
                                {{else}}
                                <li>
                                    <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                                </li>
                                {{/is}}
                                {{/is}}
                                {{/each}}


                            </ul>
                            {{#if more_articles}}
                            <a href="{{url}}" class="govuk-link govuk-!-font-weight-bold see-all-articles govuk-!-margin-top-4 govuk-body tl-category--more">
                                All T Level news articles
                            </a>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                    {{/is}}
                    {{/each}}
                </section>
            </div>
        </div>
    </div>
    <div class="tl-newsletter--container govuk-!-margin-top-1">

        <div class="govuk-width-container govuk-main-wrapper tl-newsletter--container">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">Newsletters</h2>
                </div>



                <div class="govuk-grid-column-one-third tl-text--right">

                    {{#if signed_in}}
                    <div class="article-subscribe tl-article--subscribe--signedin tl-js-visible" id="tl-newsletter--subscribe">
                        <span tabindex="0" id="follow-btn" class="tl-hidden">Follow </span>
                        <script type="text/javascript">
                        const section_id_newsletters = {{settings.section_id_newsletters}}
                        </script>
                    </div>
                    {{else}}
                    <div class="article-subscribe tl-article--subscribe">
                        <span tabindex="0" data-auth-action="signin" data-selected="false" aria-expanded="false" aria-haspopup="menu">
                            Sign in to subscribe
                        </span>
                    </div>
                    {{/if}}

                </div>
            </div>



            <section class="govuk-!-margin-top-3">
                {{#each sections}}
                {{#is name "Newsletters"}}

                {{#if articles}}


                <div class="govuk-grid-row ">
                    {{#each articles}}
                    {{#is @index 0}}
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="{{url}}" class="govuk-link">{{title}}</a></h3>
                        <p class="govuk-body">{{excerpt body characters=120}}</p>
                    </div>
                    {{/is}}
                    {{#is @index 1}}
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="{{url}}" class="govuk-link">{{title}}</a></h3>
                        <p class="govuk-body">{{excerpt body characters=120}}</p>
                    </div>
                    {{/is}}
                    {{#is @index 2}}
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="{{url}}" class="govuk-link">{{title}}</a></h3>
                        <p class="govuk-body">{{excerpt body characters=120}}</p>
                    </div>
                    {{/is}}

                    {{/each}}
                </div>

                <a href="{{url}}" class="govuk-link govuk-!-font-weight-bold see-all-articles govuk-body tl-category--more">
                    All T Level newsletters
                </a>

                <script>
                    $(document).ready(function () {
                        $('h3 a:contains("- T Level newsletter")').contents().each(function () {
                            if (this.nodeType == 3) {
                                $(this).parent().html(function (_, oldValue) {
                                    return oldValue.replace(/- /g, "<span class='tl-hidden'>$&")
                                })
                                $(this).parent().html(function (_, oldValue2) {
                                    return oldValue2.replace(/newsletter/g, "$&</span>")
                                })
                            }
                        });
                    });
                </script>
                {{/if}}
                {{/is}}
                {{/each}}
            </section>
        </div>
    </div>

</main>
