
<!-- Main content -->
<main id="main-content" role="main">


    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--category">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>





    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{category.name}}</h1>
                {{#if category.description}}
                <p class="govuk-body-l">{{category.description}}</p>
                {{/if}}
                <section>
                    {{#each sections}}
                    <h2 class="govuk-heading-m">{{name}}</h2>
                    {{#is name "Newsletters"}}
                    {{#if articles}}
                    <ul class="govuk-list tl-newsletter--list">
                        {{#each articles}}
                        <li>
                            <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}
                        <li class="govuk-!-margin-top-4">
                            {{#if more_articles}}
                            <a href="{{url}}" class="govuk-link see-all-articles govuk-body tl-category--more">
                                See all newsletters
                            </a>
                            {{/if}}
                            {{#is article_count 5}}
                            <a href="{{url}}" class="govuk-link see-all-articles govuk-body tl-category--more">
                                See all newsletters
                            </a>
                            {{/is}}
                            {{#is article_count 6}}
                            <a href="{{url}}" class="govuk-link see-all-articles govuk-body tl-category--more">
                                See all newsletters
                            </a>
                            {{/is}}
                        </li>
                    </ul>
                    {{else}}
                    <ul class="govuk-list">
                        <li>
                            <p class="govuk-body">There's nothing here at the moment</p>
                        </li>
                    </ul>
                    {{/if}}
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                    {{else}}
                    {{#if articles}}
                    <ul class="govuk-list">
                        {{#each articles}}
                        <li>
                            <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}
                        {{#if more_articles}}
                        <li class="govuk-!-margin-top-4">
                            <a class="govuk-link govuk-body tl-category--more" href="{{url}}">
                                See all events, webinars and information
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                    {{else}}
                    <ul class="govuk-list">
                        <li>
                            <p class="govuk-body">There's nothing here at the moment</p>
                        </li>
                    </ul>
                    {{/if}}
                    {{/is}}


                    {{/each}}
                </section>

            </div>
            <div class="govuk-grid-column-one-third">

                {{#if signed_in}}
                <div class="article-subscribe tl-article--subscribe--signedin tl-js-visible" id="tl-newsletter--subscribe">
                    <button id="follow-btn" type="button" class="tl-hidden">Follow </button>
                    <script type="text/javascript">
                        const section_id_newsletters = {{settings.section_id_newsletters}}
                    </script>
                </div>
                {{else}}
                <div class="article-subscribe tl-article--subscribe">
                    <button data-auth-action="signin" data-selected="false" aria-expanded="false" aria-haspopup="menu" type="button">
                        Sign in to get news updates
                    </button>

                    {{!-- Alternative approach using oauth in javascript --}}
                    <p class="govuk-body-l">or...</p>
                    <form id="subscribe-user-form" method="post">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="subscriber-name">Name</label>
                            <input type="text" id="subscriber-name" name="subscriber-name" placeholder="Type your name">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="subscriber-email">Name</label>
                            <input type="text" id="subscriber-email" name="subscriber-email" placeholder="Type your email">
                        </div>
                        <div class="govuk-!-margin-top-3">
                            <input type="submit" name="commit" value="Subscribe">
                        </div>
                    </form>
                    <script type="text/javascript">
                        $("#subscribe-user-form").submit(function(e){

                            e.preventDefault();
                            
                            const subscription_client_id = "{{settings.tl_subscription_client_id}}";
                            const subscription_client_secret = "{{settings.tl_subscription_client_secret}}";

                            const subscriber_name = $("#subscriber-name").val();
                            const subscriber_email = $("#subscriber-email").val();

                            //TODO: Remove ` style from strings so they work in ie11
                            console.log(`subscribe form submitted`);
                            console.log(`subscription_client_id = ${subscription_client_id}`);
                            console.log(`subscription_client_secret = ${subscription_client_secret}`);
                            console.log(`user = ${subscriber_email} (${subscriber_name})`);
                        });
                    </script>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</main>
