<script type="text/javascript">
    if (window.location.href.indexOf("eturn_to=%2Fhc%2Frequests") > -1) {
        window.location.href = "/hc/en-gb/articles/{{settings.article_id_confirmation}}";
    }

    $(".tl-phase-banner").addClass("tl-phase-banner--home");
</script>

<!-- Main content -->
<main id="main-content" role="main">
    <!-- Banner -->
    <section id="tl-home--banner">
        <div class="govuk-width-container govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="tl-home--banner">
                        <div class="tl-home--banner--column">
                            <div class="tl-home--banner--card govuk-!-padding-8">
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">{{settings.homepage_banner_title}}</h1>
                                <p class="govuk-body">{{settings.homepage_banner_text}}</p>
                                <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-button govuk-!-margin-bottom-0" id="tl-home-banner--cta" href="/hc/en-gb/categories/{{settings.homepage_banner_category}}">{{settings.homepage_banner_button}}</a></p>
                            </div>
                        </div>
                        <div class="tl-home--banner--column">
                            <img class="tl-image--cover tl-home--banner--column--image" src="{{settings.homepage_banner_image}}" />
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section id="tl-home--news">
        <!-- NEWS -->
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m tl-heading--bar">Featured news</h2>
                    <div class="govuk-grid-row tl-row-fill">
                        <div class="govuk-grid-column-one-half">
                            <img class="tl-image--cover tl-home--banner--column--image" src="{{settings.homepage_news_image}}" />
                        </div>
                        <div class="govuk-grid-column-one-half tl-flex--column">
                            {{#each categories}}
                            {{#is name "T Level news"}}
                            {{#each sections}}
                            {{#is name "Featured news"}}
                            {{#each articles}}
                            {{#if @first}}
                            <span class="govuk-caption-m govuk-!-font-size-16">{{date updated_at class='metadata' format='medium'}}</span>
                            <h4 class="govuk-heading-m govuk-!-margin-top-2"><a id="tl-home-news--article" class="govuk-link govuk-link--no-visited-state" href="{{url}}">{{title}}</a></h4>
                            <p class="govuk-body">{{excerpt body characters=200}}</p>
                            {{/if}}
                            {{/each}}
                            {{/is}}
                            {{/each}}
                            <hr class="govuk-section-break tl-section-break govuk-!-margin-bottom-3 govuk-section-break--m govuk-section-break--visible tl-flex--grow">
                            <p class="govuk-body tl-text--right govuk-!-margin-bottom-0"><a id="tl-home-news--all" href="{{url}}" class="govuk-link govuk-link--no-visited-state">All T Level news</a></p>
                            {{/is}}
                            {{/each}}
                        </div>
                    </div>
                </div>


            </div>
            <!-- NEWSLETTER -->
            <div class="govuk-grid-row tl-row-fill govuk-!-margin-top-7">
                <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-full tl-flex--column govuk-!-margin-bottom-7">
                    <h2 class="govuk-heading-m tl-heading--bar">T Level newsletter</h2>
                    {{#each categories}}
                    {{#is name "T Level news"}}
                    {{#each sections}}
                    {{#is name "Newsletters"}}
                    {{#each articles}}
                    {{#if @first}}
                    <h3 class="govuk-heading-s  govuk-!-margin-top-1 govuk-!-margin-bottom-3"><a id="tl-home-news--article" class="govuk-link govuk-link--no-visited-state" href="{{url}}">{{title}}</a></h3>
                    <p class="govuk-body govuk-!-margin-bottom-0">The latest T Level updates from the Department for Education, the Institute, awarding organisations and more.</p>
                    {{/if}}
                    {{/each}}
                    {{/is}}
                    {{/each}}
                    <hr class="govuk-section-break tl-section-break govuk-!-margin-bottom-3 govuk-section-break--m govuk-section-break--visible tl-flex--grow">
                    <p class="govuk-body tl-text--right govuk-!-margin-bottom-0"><a id="tl-home-news--all" href="{{url}}" class="govuk-link govuk-link--no-visited-state">All newsletters</a></p>
                    {{/is}}
                    {{/each}}
                </div>

                <!-- KEY DATES -->
                <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full tl-flex--column govuk-!-margin-bottom-7">
                    <h2 class="govuk-heading-m tl-heading--bar">Key dates and deadlines</h2>

                    {{#each categories}}
                    {{#is name "T Level events"}}
                    {{#each sections}}
                    {{#is name "Key dates and deadlines"}}
                    {{#each articles}}
                    {{#is @index 0}}
                    <div class="tl-home-keydates govuk-!-margin-top-1 tl-flex--column">
                        <p class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--date" id="tl-article--date--{{id}}"></p>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--title tl-flex--grow"><a class="govuk-link tl-home-events--article" href="{{url}}">{{title}}</a></h3>
                        <script>
                                $.getJSON('/api/v2/help_center/articles/{{id}}', function (articlelabels) {

                                    if (articlelabels.article.label_names && articlelabels.article.label_names.length) {
                                        articlelabels.article.label_names.forEach(function (labelname) {

                                            if (labelname.indexOf("date") != -1) {
                                                var date = labelname.split('/')[1];
                                                $("#tl-article--date--{{id}}").text(date);
                                            }
                                        });
                                    }
                                });
                        </script>

                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    {{/is}}
                    {{#is @index 1}}
                    <div class="tl-home-keydates tl-flex--column">
                        <p class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--date" id="tl-article--date--{{id}}"></p>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--title tl-flex--grow"><a class="govuk-link tl-home-events--article" href="{{url}}">{{title}}</a></h3>
                        <script>
                                $.getJSON('/api/v2/help_center/articles/{{id}}', function (articlelabels) {

                                    if (articlelabels.article.label_names && articlelabels.article.label_names.length) {
                                        articlelabels.article.label_names.forEach(function (labelname) {

                                            if (labelname.indexOf("date") != -1) {
                                                var date = labelname.split('/')[1];
                                                $("#tl-article--date--{{id}}").text(date);
                                            }
                                        });
                                    }
                                });
                        </script>

                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    {{/is}}
                    {{#is @index 2}}
                    <div class="tl-home-keydates tl-flex--column">
                        <p class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--date" id="tl-article--date--{{id}}"></p>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--title tl-flex--grow"><a class="govuk-link tl-home-events--article" href="{{url}}">{{title}}</a></h3>
                        <script>
                                $.getJSON('/api/v2/help_center/articles/{{id}}', function (articlelabels) {

                                    if (articlelabels.article.label_names && articlelabels.article.label_names.length) {
                                        articlelabels.article.label_names.forEach(function (labelname) {

                                            if (labelname.indexOf("date") != -1) {
                                                var date = labelname.split('/')[1];
                                                $("#tl-article--date--{{id}}").text(date);
                                            }
                                        });
                                    }
                                });
                        </script>

                    </div>
                    {{/is}}

                    {{/each}}

                    <hr class="govuk-section-break tl-section-break govuk-!-margin-bottom-3 govuk-section-break--m govuk-section-break--visible tl-flex--grow">
                    <p class="govuk-body tl-text--right govuk-!-margin-bottom-0"><a id="tl-home-news--all" href="{{url}}" class="govuk-link govuk-link--no-visited-state">All key dates</a></p>
                    {{/is}}
                    {{/each}}
                    {{/is}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <section id="tl-home--information">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m tl-heading--bar">Information and guidance</h2>

                    <div class="tl-home--categories">

                        {{#each categories}}
                        {{#is name "How this site works"}}
                        {{else}}
                        {{#is name "T Level news"}}
                        {{else}}
                        {{#is name "T Level events"}}
                        {{else}}
                        {{#is name "New to T Levels"}}
                        {{else}}
                        {{#is name "T Level Transition Programme"}}
                        {{else}}
                        {{#is name "Case studies"}}
                        {{else}}
                        <div class="tl-home--category">
                            <span class="tl-home--category--image"></span>
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2""><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                            <p class="govuk-body-s">{{excerpt description}}</p>
                        </div>
                        {{/is}}
                        {{/is}}
                        {{/is}}
                        {{/is}}
                        {{/is}}
                        {{/is}}
                        {{/each}}


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tl-home--events">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m tl-heading--bar">T Level events</h2>
                    {{#each categories}}
                    {{#is name "T Level events"}}

                    {{#each sections}}
                    {{#is name "T Level events"}}
                    <div class="govuk-grid-row tl-row-fill">

                        {{#each articles}}
                        {{#is @index 0}}

                        <div class="govuk-grid-column-one-third tl-row-fill">
                            <div class="tl-home--events--card">
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--title"><a class="govuk-link tl-home-events--article" href="{{url}}">{{title}}</a></h3>
                                <p class="govuk-body govuk-!-margin-top-1 govuk-!-font-weight-bold govuk-!-margin-bottom-0 tl-home-keydates--date" id="tl-article--date--{{id}}"></p>
                                <script>
                                $.getJSON('/api/v2/help_center/articles/{{id}}', function (articlelabels) {

                                    if (articlelabels.article.label_names && articlelabels.article.label_names.length) {
                                        articlelabels.article.label_names.forEach(function (labelname) {

                                            if (labelname.indexOf("date") != -1) {
                                                var date = labelname.split('/')[1];
                                                $("#tl-article--date--{{id}}").text(date);
                                            }
                                        });
                                    }
                                });
                                </script>

                            </div>
                        </div>
                        {{/is}}
                        {{#is @index 1}}
                        <div class="govuk-grid-column-one-third tl-row-fill">
                            <div class="tl-home--events--card">
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--title"><a class="govuk-link tl-home-events--article" href="{{url}}">{{title}}</a></h3>
                                <p class="govuk-body govuk-!-margin-top-1 govuk-!-font-weight-bold govuk-!-margin-bottom-0 tl-home-keydates--date" id="tl-article--date--{{id}}"></p>
                                <script>
                                $.getJSON('/api/v2/help_center/articles/{{id}}', function (articlelabels) {

                                    if (articlelabels.article.label_names && articlelabels.article.label_names.length) {
                                        articlelabels.article.label_names.forEach(function (labelname) {

                                            if (labelname.indexOf("date") != -1) {
                                                var date = labelname.split('/')[1];
                                                $("#tl-article--date--{{id}}").text(date);
                                            }
                                        });
                                    }
                                });
                                </script>

                            </div>
                        </div>
                        {{/is}}
                        {{#is @index 2}}
                        <div class="govuk-grid-column-one-third tl-row-fill">
                            <div class="tl-home--events--card">
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 tl-home-keydates--title"><a class="govuk-link tl-home-events--article" href="{{url}}">{{title}}</a></h3>
                                <p class="govuk-body govuk-!-margin-top-1 govuk-!-font-weight-bold govuk-!-margin-bottom-0 tl-home-keydates--date" id="tl-article--date--{{id}}"></p>
                                <script>
                                $.getJSON('/api/v2/help_center/articles/{{id}}', function (articlelabels) {

                                    if (articlelabels.article.label_names && articlelabels.article.label_names.length) {
                                        articlelabels.article.label_names.forEach(function (labelname) {

                                            if (labelname.indexOf("date") != -1) {
                                                var date = labelname.split('/')[1];
                                                $("#tl-article--date--{{id}}").text(date);
                                            }
                                        });
                                    }
                                });
                                </script>

                            </div>
                        </div>
                        {{/is}}

                        {{/each}}

                    </div>
                    <div class="govuk-grid-row tl-row-fill">

                        <div class="govuk-grid-column-full">
                            <hr class="govuk-section-break tl-section-break govuk-!-margin-bottom-3 govuk-section-break--m govuk-section-break--visible tl-flex--grow">
                            <p class="govuk-body tl-text--right govuk-!-margin-bottom-0"><a id="tl-home-news--all" href="{{url}}" class="govuk-link govuk-link--no-visited-state">All events</a></p>
                        </div>
                    </div>
                    {{/is}}
                    {{/each}}
                        {{/is}}
                        {{/each}}


                    </div>
                </div>
            </div>
    </section>

    <section id="tl-home--more">
        <div class="govuk-width-container govuk-!-margin-top-7">
            <div class="govuk-grid-row">


                <!-- More information -->
                <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
                    <h2 class="govuk-heading-m tl-heading--bar">More about T Levels</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half tl-overflow--auto">
                            {{#each categories}}
                            {{#is name "Case studies"}}
                            <span class="tl-home--category--image tl-home--category--image--5"></span>
                            <h3 class="govuk-heading-m"><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                            <p class="govuk-body">{{excerpt description}}</p>
                            {{/is}}
                            {{/each}}
                        </div>
                        <div class="govuk-grid-column-one-half tl-overflow--auto">
                            {{#each categories}}
                            {{#is name "T Level Transition Programme"}}
                            <span class="tl-home--category--image tl-home--category--image--6"></span>
                            <h3 class="govuk-heading-m"><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                            <p class="govuk-body">{{excerpt description}}</p>
                            {{/is}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- Help employers find -->
                <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-full">
                    <h2 class="govuk-heading-m tl-heading--bar">Help employers find you</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full tl-overflow--auto">
                            <span class="tl-home--category--image tl-home--category--image--7"></span>
                            <h3 class="govuk-heading-m"><a href="https://support.tlevels.gov.uk/hc/en-gb/articles/360020077859-How-to-update-T-Level-course-information" class="govuk-link" GTMname="Update your information">Update your information</a></h3>
                            <p class="govuk-body">Have you updated the National Careers Service Course Directory so students and employers can find you?</p>
                        </div>
                    </div>
                </div>
                    </div>

                </div>
    </section>

    <section id="tl-home--contact">
        <div class="govuk-width-container govuk-main-wrapper">
            <div class="govuk-grid-row tl-row-fill">


                <div class="govuk-grid-column-one-half tl-row-fill">
                    <div class="tl-card--black">
                        <h3 class="govuk-heading-m">Have a T Levels question?</h3>
                        <p class="govuk-body">
                            Our T Levels support bot is here to help you find the answers.
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            <a href="#" id="tl-home--answerbot" class="govuk-link">Ask a question</a>

                        </p>

                    </div>
                </div>

                <div class="govuk-grid-column-one-half tl-row-fill">
                    <div class="tl-card--black tl-js-hidden" id="tl-home--ticket">
                        <h3 class="govuk-heading-m">Contact us</h3>
                        <p class="govuk-body">
                            If you'd like to speak to someone about T Levels, contact us and we'll get back to you within 2 days.
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            {{#link 'new_request' class='govuk-link tl-home--contact govuk-!-margin-bottom-0' }}
                            Send a message
                            {{/link}}
                        </p>

                    </div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        if (!isAgent()) {
                            $("#tl-home--ticket").show();
                        }
                    });
                </script>
            </div>


        </div>
    </section>
</main>

    <script src="{{asset 'calendar.js'}}"></script>

    <script>
  document.addEventListener('DOMContentLoaded', function() {
  	frontDoor('{{settings.tl_calendar_api_key}}', '{{settings.tl_calendar_data_source}}');
  });

    $('#tl-home--answerbot').click(function () {
    openHelp();
    event.preventDefault();
});
    </script>
    <script src="{{asset 'tavo-calendar.js'}}"></script>

    {{#if settings.answerbot_enabled}}
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key={{settings.answerbot_key}}"></script>
    <script type="text/javascript">
    window.zESettings = {
        webWidget: {
            answerBot: {
                avatar: {
                    url: "{{settings.answerbot_icon}}",
                    name: {
                        "*": '{{settings.answerbot_name}}'
                    }
                },
                title: {
                    "en-gb": "T Levels support for schools and colleges"
                },
                search: {
                    labels:
                        ['answerbot']
                },
                contactOnlyAfterQuery: true
            }
        }
    };
    </script>
    {{/if}}

    <script>
        if ($('.tl-home--panel--events--events').children().length == 0) {
            $('.tl-home--panel--events--events').html('<p class="govuk-body">There are no upcoming T Level events at the moment.</p>')
        }
    </script>
